[submodule "secrets"]
	path = secrets
	url = https://github.com/Bad3r/secrets.git
	branch = main
[submodule "inputs/stylix"]
	path = inputs/stylix
	url = https://github.com/Bad3r/stylix.git
	branch = master
