excludes = [
  "inputs/*",
  ".pre-commit-config.yaml",
  "nixos-manual/*",
  "*.lock",
  "*.patch",
  "package-lock.json",
  "go.mod",
  "go.sum",
  ".gitattributes",
  ".gitignore",
  ".gitmodules",
  ".hgignore",
  ".svnignore",
  "LICENSE",
]

[formatter.nixfmt]
command = "nixfmt"
includes = ["*.nix"]

[formatter.prettier]
command = "prettier"
excludes = ["README.md"]
includes = [
  "*.cjs",
  "*.css",
  "*.html",
  "*.js",
  "*.json",
  "*.json5",
  "*.jsx",
  "*.md",
  "*.mdx",
  "*.mjs",
  "*.scss",
  "*.ts",
  "*.tsx",
  "*.vue",
  "*.yaml",
  "*.yml",
]
options = ["--write"]

[formatter.shfmt]
command = "shfmt"
includes = ["*.sh", "*.bash", "*.envrc", "*.envrc.*"]
options = ["-w", "-i", "2", "-s"]
