[formatter.nixfmt]
command = "/nix/store/szjqgwcv0c593fvrjgdw4zszd5fx4p0m-nixfmt-1.1.0/bin/nixfmt"
excludes = []
includes = ["*.nix"]
options = []

[formatter.prettier]
command = "/nix/store/6fcbrdsms2icrx5n840sslqd6nl7zfb7-prettier-3.6.2/bin/prettier"
excludes = ["README.md"]
includes = [
    "*.cjs",
    "*.css",
    "*.html",
    "*.js",
    "*.json",
    "*.json5",
    "*.jsx",
    "*.md",
    "*.mdx",
    "*.mjs",
    "*.scss",
    "*.ts",
    "*.tsx",
    "*.vue",
    "*.yaml",
    "*.yml",
]
options = ["--write"]

[formatter.shfmt]
command = "/nix/store/dvkyrls3macivb3yc227gfxdaywsm2vl-shfmt-3.12.0/bin/shfmt"
excludes = []
includes = ["*.sh", "*.bash", "*.envrc", "*.envrc.*"]
options = ["-w", "-i", "2", "-s"]

[global]
excludes = [
    "*.lock",
    "*.patch",
    "package-lock.json",
    "go.mod",
    "go.sum",
    ".gitattributes",
    ".gitignore",
    ".gitmodules",
    ".hgignore",
    ".svnignore",
    "LICENSE",
    "inputs/*",
    "inputs/*",
]
on-unmatched = "warn"
