[formatter.nixfmt]
command = "/nix/store/4sd41zv5b0cz11qgfdw6xic3nxmvl9w1-nixfmt-1.1.0/bin/nixfmt"
excludes = []
includes = ["*.nix"]
options = []

[formatter.prettier]
command = "/nix/store/167wwybss5ab3bpp2qn29jfjabghraqy-prettier-3.6.2/bin/prettier"
excludes = ["README.md"]
includes = [
    "*.cjs",
    "*.css",
    "*.html",
    "*.js",
    "*.json",
    "*.json5",
    "*.jsx",
    "*.md",
    "*.mdx",
    "*.mjs",
    "*.scss",
    "*.ts",
    "*.tsx",
    "*.vue",
    "*.yaml",
    "*.yml",
]
options = ["--write"]

[formatter.shfmt]
command = "/nix/store/qqzrqcclsvw1bb2z4x43x23r10hw9xfr-shfmt-3.12.0/bin/shfmt"
excludes = []
includes = ["*.sh", "*.bash", "*.envrc", "*.envrc.*"]
options = ["-w", "-i", "2", "-s"]

[global]
excludes = [
    "*.lock",
    "*.patch",
    "package-lock.json",
    "go.mod",
    "go.sum",
    ".gitattributes",
    ".gitignore",
    ".gitmodules",
    ".hgignore",
    ".svnignore",
    "LICENSE",
    "inputs/*",
    "inputs/*",
]
on-unmatched = "warn"
